.dino{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
    background-color: aquamarine;
}
body{
    background:darksalmon;

} 

.obstacle{
    background-color: darkblue;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0px;
}

#replayBtn , #exitBtn{ 
    visibility: hidden;
}